.CustomerProfileSection {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.DeleteAccountButton {
    width: 200px;
    height: 35px;
    border-radius: 10px;
    background-color: red;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        cursor: pointer;
    }
}