@use "../../../utils/constants/constants.scss" as *;

.MyFilesSection {
    padding: 0 20px;
    width: 97%;
    height: 100%;

    &__header {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;

        &--title {
            font-size: 20px;
            font-weight: bold;
            color: white;
        }
    }

    &__fileList {
        display: flex;
        flex-flow: row wrap;
    }

    &__filters {
        width: 96%;
        height: 60px;
        background-color: darkcyan;
        color: white;
        font-weight: bold;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-left: 20px;

        div:hover{
            cursor: pointer;
        }
    }
    
    &__messageNewFolderAdded{
        color: green;
        font-weight: bold;
        margin-left: 20px;
    }
}

.focusColor {
    color: $primaryColor;
    font-weight: bold;
}